<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BrowserType" value="IExplorer"/>
    <add key="Username" value="thota.gowri@gmail.com"/>
    <add key="Password" value="chaithanya"/>
    <add key="Website" value="http://localhost:7777/"/>
    <add key="PageLoadTimeout" value="40"/>
    <add key="ElementLoadTimeout" value="40"/>
  </appSettings>
</configuration>