<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="BrowserType" value="Firefox" />
    <add key="Username" value="thota.gowri@gmail.com" />
    <add key="Password" value="chaithanya" />
    <add key="Website" value="http://localhost:7777/" />
    <add key="PageLoadTimeout" value="40" />
    <add key="ElementLoadTimeout" value="40" />
  </appSettings>
<specFlow>
  <unitTestProvider name="MsTest" />
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="MsTest" />
</specFlow></configuration>